<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

  <body>

    {% include 'navbar.html' %}

    <div class="container">

      <div class="filme">
        
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
        <div class="row">
          <div class="col-md-4 imagem">
            <img src="{{ movie.hasPoster }}"/>
          </div>
          <div class="col-md-8 descricao">
            <p><strong>Title: </strong> {{ movie.hasTitle }}</p>
            <p><strong>Rating: </strong> {{ movie.hasRating }}/10 ({{ movie.hasVotes }} votes)</p>
            <p><strong>Runtime: </strong> {{ movie.hasRuntime / 60 }} min</p>
            <p><strong>Release date: </strong> {{ movie.hasReleaseDate }}</p>
            <p><strong>Tagline: </strong> {{ movie.hasTagline }}</p>
            <p><strong>Plot: </strong> {{ movie.hasPlot }}</p>
            <p><strong>Cast: </strong>
            {% for actor in movie.actors %}
              <a href="/person/{{ actor.hasPersonID }}">{{ actor.hasName }}</a>,
            {% endfor %}
            </p>
            <p><strong>Directors: </strong> 
            {% for director in movie.directors %}
              <a href="/person/{{ director.hasPersonID }}">{{ director.hasName }}</a>,
            {% endfor %}
            </p>
            <p><strong>Producers: </strong> ...</p>
            <p><strong>Writers: </strong> 
            {% for writer in movie.writers %}
              <a href="/person/{{ writer.hasPersonID }}">{{ writer.hasName }}</a>,
            {% endfor %}
            </p>
            <p><strong>Genres: </strong> 
            {% for genre in movie.genres %}
              <a href="/genres/{{ genre.hasGenre }}">{{ genre.hasGenre }}</a>,
            {% endfor %}
            </p>
          </div>
        </div>

        
      </div>
        <h1>Related movies</h1>
        <ul class="movie-list">
          {% for movie in movie.related %}
            <li><a href="/movies/{{ movie.hasFilmID }}"><img src="{{ movie.hasPoster }}"/></a></li>
          {% endfor %}
        </ul>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>