<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Semantic Movies</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{ 'active' if page == 'home' }}"><a href="/">Home</a></li>
            <li class="{{ 'active' if page == 'movies' }}"><a href="/movies">Movies</a></li>
            <li class="{{ 'active' if page == 'person' }}"><a href="/person">People</a></li>
            <li class="{{ 'active' if page == 'genres' }}"><a href="/genres">Genres</a></li>
            <li class="{{ 'active' if page == 'search' }}"><a href="/search">Search</a></li>
            {% if session['username'] %}
              <li class="{{ 'active' if page == 'recommendations' }}"><a href="/recommendations">Recommendations</a></li>

            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if not session['username'] %}
              <li><a href="/login">Login</a></li>
            {% else %}
              <li><a href="#">Hello, {{session['username']}}</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>